/*
.dataContainer{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    /*
    border: 5% solid #73AD21;
    border-radius: 10%;
    padding: 5%;
    
}
*/

.mainDiv{
    display: flex;
}

.childDiv{
    /*margin-left: auto;*/
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    /*
    border: 5% solid #73AD21;
    border-radius: 10%;
    padding: 5%;
    */
}